*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: speedee,-apple-system, BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
}
nav{
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 0 0.0625rem 0.5rem 0 rgb(0 0 0 / 4%), 0 0.0625rem 0.3125rem 0 rgb(0 0 0 / 4%);
    padding: 10px 50px 10px 50px;
}

.navbar-contents{
    padding-left: 50px;
}

.navbar-contents-top{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    margin-bottom: 30px;
}

.navbar-contents-top-left a{
    color: black;
    text-decoration: none;
    margin-right: 20px;
}

.navbar-contents-top-right{
    padding-left: 15rem;
}

.navbar-contents-top-right a{
    color:black;
    text-decoration: none;
    margin-left: 20px;
}

.navbar-contents-top-right #location{
    color: #006bae;
    text-decoration: underline;
}

.navbar-contents-top-right #orderNow{
    background-color: #ffbc0d;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 15px;
}

.navbar-contents-bottom a{
    margin-right: 20px;
    color: black;
    text-decoration: none;
font-weight: 400;
}


.row{display: flex; gap: 30px; align-items: center; width: 100%;}
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.64%;}
.col-9{width: 75%;}
.col-10{width: 83.3%;}
.col-11{width: 91.63;}
.col-12{width: 99.96%;}

.container{
    width: 85%;
    margin: 0 auto;
}

.first-section-left img{
    width: 100%;
}

.first-section-right{
    margin-bottom:30px;
}

.first-section-right h1{
    font-size:35px;
    margin-bottom: 20px;
    margin-top: 7rem;
}

.first-section-right #first-section-texts{
    font-size: 15px;
    font-weight: 450;
    margin-bottom: 20px;
}

.first-section-right #first-section-small{
    font-size: 10px;
    margin-bottom: 60px;
}

.first-section-right .earn-btn a{
    background-color: #ffbc0d;
    color: black;
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 4px;
}

/* .footer-links h3{
    padding-bottom: 30px;
} */


.footer{
    display: flex;
    justify-content: space-between;
}
.footer .footer-links h3{
    padding-bottom: 20px;
}

.footer-links ul li{
    list-style-type: none;
    line-height: 1.9rem;
}

.footer-links ul li a{
    text-decoration: none;
    color: black;
}

.footer-social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0px;
}

.footer-social-left a{
    margin-right: 15px;
}

.footer-bottom-links{
    display: flex;
    justify-content: space-between;
    margin: 50px 0px 150px 0px;
}

.footer-bottom-links-left-link a{
    text-decoration: none;
    color: black;
    padding-right: 30px;
}

.footer-bottom-links-right{
    display: flex;
    /* align-items: center; */
}

.footer-bottom-links-right img{
    width:25px;
    height: fit-content;
    margin-right: 60px;
}

.padding-bottom{
    padding-bottom: 20px;
}
